div {
    background-image: url("cards.png");
    width: 142px;
    height: 197px;
 }
 .tref3 {
    background-position: -143px -197px;
 }
 .chirv5 {
    background-position: -430px -595px;
    margin-top: -197px;
    margin-left: 80px;
 }
 .bub9 {
    background-position: -285px -1390px;
    margin-top: -197px;
    margin-left: 162px;
 }