ul {
    list-style: upper-roman;
    font-weight: bold;
    width: 350px;
}
li ul {
    list-style: lower-roman;
    font-weight: normal;
}
div {
    background-color: black;
    color: green;
    width: 400px;
    overflow: auto;
    max-height: 75px;
}